#flashcardParent{
        border:none;
}
#answerButtonsParent{
        position:fixed;
        bottom:0;
        width:100%;
        background-color:white;
}
#answerButtons{
        margin:auto;
        margin-bottom:0.8rem;
        margin-top:0.5rem;
}
#answerButtons > div{
	padding-right:0.2rem;
}
.interval{
        display:block;
        text-align:center;
}
.deckName{
        text-align:center;
        padding:0.5rem;
}
#optionsBtn{
	position:absolute;
        padding:0.5rem;
	right:0;
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
