#flashcardParent{
        border:none;
}
#answerButtonsParent{
        position:fixed;
        bottom:0;
        width:100%;
        background-color:white;
}
#answerButtons{
        margin:auto;
        margin-bottom:0.8rem;
        margin-top:0.5rem;
}
#answerButtons > div{
	padding-right:0.2rem;
}
.interval{
        display:block;
        text-align:center;
}
.deckName{
        text-align:center;
        padding:0.5rem;
}
